## Import all the necessary libraries & functions you will need

In [5]:
import pandas as pd
from sqlalchemy import create_engine

## Define connection parameters

In [6]:
# make db connection we defines these parameters:'db://username:password@host:port/Datawarehouse_name'
source_db_uri = 'postgresql://postgres:12345@Localhost:5432/Airbnb_Barcelona database'
destination_dwh = 'postgresql://postgres:12345@Localhost:5432/Airbab_Datawarehouse'

## ETL(Extract,Transform,Load) Functions

In [7]:
# Function to extract data from source database
def extract_data(source_db_uri ,query):
    engine=create_engine(source_db_uri)
    with engine.connect() as conn:
        df=pd.read_sql(query,conn)
    return df

In [8]:
# Function to transform data
def transform_data(df, table_name ,transformed_df1=None,transformed_df2=None):
    
     if table_name == 'listings':
        # Add a surrogate_key at the first position and assign values equal to the number of rows
        df.insert(0, 'listingKey', range(1, len(df) + 1))
        # Transform data for Listing_Dim from varchar() into float
        df['price'] = df['price'].str.replace('$', '').str.replace(',', '').astype(float)

     elif table_name == 'calendar':
        #Transform data for Listing_Dim from varchar() into float
        df['price'] = df['price'].str.replace('$', '').str.replace(',', '').astype(float)
        transformed_listings_df=transformed_df1
        DateDim_df=transformed_df2
        #joining with listing_dim & date_dim to obtain foreign keys in the Reservasion_Fact table
        merged_df1=df.merge(transformed_listings_df,on='listing_id')
        merged_df2=merged_df1.merge(DateDim_df,on='date')
        df=merged_df2[['listingKey','date_key','available','price_x' ,'minimum_nights','maximum_nights']]

     elif table_name == 'reviews':
            transformed_listings_df=transformed_df1
            DateDim_df=transformed_df2
            #joining with listing_dim & date_dim to obtain foreign keys in the Review_Fact table
            merged_df=df.merge(transformed_listings_df,on='listing_id').merge(DateDim_df,on='date')
            #taking only the required columns for the fact table:
            df=merged_df[['listingKey','date_key','review_id', 'reviewer_name', 'comments']]

     return df

In [9]:
# Function to load data into data warehouse
def load_data(destination_dwh,transformed_df,target_dwh_table):
    engine=create_engine(destination_dwh)
    transformed_df.to_sql(target_dwh_table ,engine,if_exists='replace', index=False)

## Execute the ETL pipeline

In [11]:
if __name__ == "__main__":
    
##listings Dimension
    
    #Extract data from listings table
    query='SELECT id AS listing_id,name,neighborhood_overview,picture_url,host_id, host_url,host_name, host_since, host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_picture_url, host_neighbourhood,host_listings_count,host_total_listings_count, host_verifications, host_identity_verified, neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,price,number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d,first_review,last_review, review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin, review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,reviews_per_month FROM  listings;'
    listings_df=extract_data(source_db_uri ,query)
    
    #Transform data for Listing_Dim
    transformed_listings_df = transform_data(listings_df, 'listings')

    #Load data into Listing_Dim
    load_data(destination_dwh, transformed_listings_df, 'Listing_Dim')

    
##Date Dimension 
    
    #Extract data from date table as a dataFrame
    query='select date_key,full_date as date from public.date_dim'
    dateDim_df=extract_data(destination_dwh ,query)

    
##Reservasion_Fact 

    #Extract data from calendar table
    query='select listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights from public.calendar'
    calendar_df=extract_data(source_db_uri ,query)

    #Transform data for reservasion_Fact : including addation of foriegn keys from dimensions
    Transformated_ReservasionFact_df=transform_data(calendar_df,'calendar',transformed_listings_df,dateDim_df)

    #Load data into Reservasion_Fact table
    load_data(destination_dwh, Transformated_ReservasionFact_df, 'Reservasion_Fact')

    
##Review_Fact  
    
    #Extract data from reviews table
    query='SELECT listing_id,date, id as review_id, reviewer_name, comments FROM public.reviews;'
    reviews_df=extract_data(source_db_uri ,query)

    # Transform data for Review_Fact : including addation of foriegn keys from dimensions
    Transformated_ReviewFact_df=transform_data(reviews_df,'reviews',transformed_listings_df,dateDim_df)
    
    # Load data into Listing_Dim
    load_data(destination_dwh, Transformated_ReviewFact_df, 'Review_Fact')

| Made by | E-Mail | LinkedIn        | Github                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| Arwa Eiad       | arwaeiad0@gmail.com     | [Profile](www.linkedin.com/in/arwa-eiad) | [Repositories](https://github.com/Arwa0?tab=repositories) |